{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Login or <a href="{% url 'register' %}">register</a></h5>
            </div>
            <div class="card-body">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group{% if form.errors %} has-danger{% endif %}">
                        <label class="control-label">{{ form.username.label }}</label>
                        <input class="form-control {% if form.errors %} form-control-danger{% endif %}"
                               id="{{ form.username.id_for_label }}" maxlength="254" name="{{ form.username.html_name }}"
                               {% if form.username.value %}value="{{ form.username.value }}"{% endif %} type="text" required/>
                    </div>
                    <div class="form-group{% if form.errors %} has-danger{% endif %}">
                        <label class="control-label">{{ form.password.label }}</label>
                        <input class="form-control {% if form.errors %} form-control-danger{% endif %}"
                               id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}"
                               type="password" required/>
                    </div>
                    {% if form.errors %}<div class="error">Your username and password didn't match. Please try again.</div>{% endif %}
                    <input type="submit" class="btn btn-primary" value="Login"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}