{% extends "base.html" %}
{% block title %}Logout{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="title">See you next time!</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}