{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Registration</h5>
            </div>
            <div class="card-body">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group{% if form.username.errors %} has-danger{% endif %}">
                        <label class="control-label">{{ form.username.label }} *</label>
                        <input class="form-control {% if form.username.errors %} form-control-danger{% endif %}"
                               id="{{ form.username.id_for_label }}" maxlength="254" name="{{ form.username.html_name }}"
                               {% if form.username.value %}value="{{ form.username.value }}"{% endif %} type="text" required/>
                        {% if form.username.errors %}<small class="error">{{ form.username.errors }}</small>{% endif %}
                    </div>
                    <div class="form-group{% if form.first_name.errors %} has-danger{% endif %}">
                        <label class="control-label">{{ form.first_name.label }} *</label>
                        <input class="form-control {% if form.first_name.errors %} form-control-danger{% endif %}"
                               id="{{ form.first_name.id_for_label }}" maxlength="30" name="{{ form.first_name.html_name }}"
                               {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %} type="text" required/>
                        {% if form.first_name.errors %}<small class="error">{{ form.first_name.errors }}</small>{% endif %}
                    </div>
                    <div class="form-group{% if form.last_name.errors %} has-danger{% endif %}">
                        <label class="control-label">{{ form.last_name.label }} *</label>
                        <input class="form-control {% if form.last_name.errors %} form-control-danger{% endif %}"
                               id="{{ form.last_name.id_for_label }}" maxlength="150" name="{{ form.last_name.html_name }}"
                               {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %} type="text" required/>
                        {% if form.last_name.errors %}<small class="error">{{ form.last_name.errors }}</small>{% endif %}
                    </div>
                    <div class="form-group{% if form.password1.errors %} has-danger{% endif %}">
                        <label class="control-label">{{ form.password1.label }} *</label>
                        <input class="form-control {% if form.password1.errors %} form-control-danger{% endif %}"
                               id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}"
                               type="password" required/>
                        {% if form.password1.errors %}<small class="error">{{ form.password1.errors }}</small>{% endif %}
                    </div>
                    <div class="form-group{% if form.password2.errors %} has-danger{% endif %}">
                        <label class="control-label">{{ form.password2.label }} *</label>
                        <input class="form-control {% if form.password2.errors %} form-control-danger{% endif %}"
                               id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}"
                               type="password" required/>
                        {% if form.password2.errors %}<small class="error">{{ form.password2.errors }}</small>{% endif %}
                    </div>
                    <div class="form-group{% if form.image.errors %} has-danger{% endif %}">
                        <label class="control-label">{{ form.image.label }}</label>
                        {{ form.image }}
                        {% if form.image.errors %}<small class="error">{{ form.image.errors }}</small>{% endif %}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Register"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}