.progress-container {
    position: relative;
}
.progress-container+.progress-container,
.progress-container~.progress-container {
    margin-top: 15px;
}
.progress-container .progress-badge {
    color: #888;
    font-size: .8571em;
    text-transform: uppercase;
}
.progress-container .progress {
    height: 1px;
    border-radius: 0;
    box-shadow: none;
    background: hsla(0, 0%, 87%, .5);
    margin-top: 14px;
}
.progress-container .progress .progress-bar {
    box-shadow: none;
    background-color: #888;
}
.progress-container .progress .progress-value {
    position: absolute;
    top: 2px;
    right: 0;
    color: #888;
    font-size: .8571em;
}
.progress-container.progress-neutral .progress {
    background: hsla(0, 0%, 100%, .3);
}
.progress-container.progress-neutral .progress-bar {
    background: #fff;
}
.progress-container.progress-neutral .progress-badge,
.progress-container.progress-neutral .progress-value {
    color: #fff;
}
.progress-container.progress-primary .progress {
    background: rgba(249, 99, 50, .3);
}
.progress-container.progress-primary .progress-bar {
    background: #f96332;
}
.progress-container.progress-primary .progress-badge,
.progress-container.progress-primary .progress-value {
    color: #f96332;
}
.progress-container.progress-info .progress {
    background: rgba(44, 168, 255, .3);
}
.progress-container.progress-info .progress-bar {
    background: #2ca8ff;
}
.progress-container.progress-info .progress-badge,
.progress-container.progress-info .progress-value {
    color: #2ca8ff;
}
.progress-container.progress-success .progress {
    background: rgba(24, 206, 15, .3);
}
.progress-container.progress-success .progress-bar {
    background: #18ce0f;
}
.progress-container.progress-success .progress-badge,
.progress-container.progress-success .progress-value {
    color: #18ce0f;
}
.progress-container.progress-warning .progress {
    background: rgba(255, 178, 54, .3);
}
.progress-container.progress-warning .progress-bar {
    background: #ffb236;
}
.progress-container.progress-warning .progress-badge,
.progress-container.progress-warning .progress-value {
    color: #ffb236;
}
.progress-container.progress-danger .progress {
    background: rgba(255, 54, 54, .3);
}
.progress-container.progress-danger .progress-bar {
    background: #ff3636;
}
.progress-container.progress-danger .progress-badge,
.progress-container.progress-danger .progress-value {
    color: #ff3636;
}
.card-stats .statistics {
    position: relative;
    text-align: center;
    padding: 15px 0
}

.card-stats .statistics .title {
    margin-bottom: 0
}

.card-stats .statistics .stats-title {
    margin-bottom: 5px;
    color: #9a9a9a;
    font-weight: 400
}

.card-stats .statistics.statistics-horizontal,
.card-stats .statistics.statistics-horizontal .info-title {
    padding: 0
}

.card-stats .icon {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px
}

.card-stats .stats-information {
    display: inline-block;
    margin-bottom: 15px
}

.card-stats .stats-information .stats-text {
    font-size: 29px
}

.card-stats .stats-information .stats-details {
    display: block;
    color: #888
}

.card-stats .dots {
    text-align: right
}

.card-stats .dots .dot {
    background-color: #2c2c2c;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    display: inline-block
}

.card-stats [class*=col-] .statistics:after {
    position: absolute;
    right: 0;
    top: 20px;
    width: 1px;
    height: calc(100% - 40px);
    content: "";
    background: #ddd
}
.info .info-title {
    margin: 15px 0 5px;
    padding: 0 15px;
    color: #2c2c2c;
    font-weight: 700;
}
.info .icon>i {
    font-size: 2.3em;
}
.stats-title {
    font-size: 1em;
}
.icon.icon-primary {
    color: #f96332
}

.icon.icon-info {
    color: #2ca8ff
}
.icon.icon-success {
    color: #18ce0f
}
.icon.icon-warning {
    color: #ffb236
}
.icon.icon-danger {
    color: #ff3636
}
.icon.icon-white {
    color: #fff
}
[data-background-color=orange] {
    background-color: #e95e38;
}
[data-background-color=orange] h3{
    color: #ffffff;
}
.card-stats [class*=col-]:last-child .statistics:after {
    display: none
}
.card-chart .card-progress {
    margin: 30px 0;
}
.chart-wrapper p {
    margin-top: 1rem;
}
.special-flex {
    align-items: center;
}
.special-flex > div:not(:last-child) {
    align-self: flex-start;
}
.special-flex i {
    margin-right: 10px;
    vertical-align: middle;
}
.img-custom {
    max-height: 180px;
}
.avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.panel-header {
    background: -webkit-gradient(linear, left top, right top, from(#1f4b82), color-stop(60%, #406fa5), to(#5d96d4));
    background: linear-gradient(to right, #1f4b82 0%, #406fa5 60%, #5d96d4 100%);
}
.main-panel > .content {
    background: -webkit-gradient(linear, left top, right top, from(#1f4b82), color-stop(60%, #406fa5), to(#5d96d4));
    background: linear-gradient(to right, #1f4b82 0%, #406fa5 60%, #5d96d4 100%);
    margin-top: -12px;
}
.sidebar .logo a.logo-normal, .off-canvas-sidebar .logo a.logo-normal {
    padding: 7px 20px;
    text-transform: none;
}
.navbar p {
    font-size: 1.2em;
}
.error {
    color: #FF3636;
}
.card .card-header {
    padding: 20px 20px 0;
}
.card .card-body {
    padding: 20px 20px 15px 20px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 12px 10px;
}
.sidebar .nav li.done:not(.active) > a, .off-canvas-sidebar .nav li.done:not(.active) > a {
    background-color: #558B2F;
}
tr .delete-row {
    display: table-cell;
    vertical-align: middle;
}
.slides {
    padding-left: 0;
}
h6 {
    font-size: 1.714em;
    line-height: 1.45em;
}
.voteItem form {
    padding-top: 80px;
    padding-bottom: 20px;
}
.voteItem [class^=col-] {
    padding: 0;
}
.voteItem input[type="radio"] {
    display: none;
}
.voteItem label {
    position: relative;
    width: 100%;
    text-align: center;
    color: inherit;
}
.voteItem label:before {
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    top: -60px;
    background-color: #f96332;
}
.voteItem label:after {
    content: "";
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #c0c1c2;
    border-radius: 100%;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.voteItem input[type="radio"]+label:hover {
    cursor: pointer;
}
.voteItem input[type="radio"]:checked+label {
    font-weight: bold;
}
.voteItem input[type="radio"]:checked+label:after {
    background-color: #558B2F;
}
.voteItem .col-md-1:first-child label:before {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.voteItem .col-md-1:last-child label:before {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.voteItem input[type="submit"] {
    font-family: 'FontAwesome';
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 35px;
    font-size: 25px;
    color: #ffffff;
    background: #f96332;
    border: none;
    cursor: pointer;
}
.voteItem .go-back {
    left: 0;
    right: auto;
}
.flex-control-nav {
    list-style: none;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0 40px;
}
.flex-control-nav li {
    display: inline-block;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}
.flex-control-nav li a {
    color: transparent !important;
    width: 100%;
    height: 10px;
    display: inline-block;
    background: rgba(249, 99, 50, 0.3);
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
}
.flex-control-nav li a.flex-active {
    background: #f96332;
}
.flex-control-nav li.voted a {
    background: rgba(81, 198, 62, 0.4);
}
.flex-control-nav li.voted a.flex-active {
    background: #558B2F;
}

.dashboard-card {
    color: inherit;
}
.not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}
.popup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    bottom: 0;
    padding: 10px;
    z-index: 1060;
    position: fixed;
    left: 0;
    right: 0;
    overflow-y: auto;
    background-color: rgba(0,0,0,.4);
    transition: background-color .1s;
}
.popup .dialog {
    width: 500px;
    padding: 20px;
    background: rgb(255, 255, 255);
    display: block;
    min-height: 318px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    max-width: 100%;
}
.popup .dialog h2 {
    color: #595959;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
}
.popup .dialog p {
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}
.popup-icon {
    width: 80px;
    height: 80px;
    border: 4px solid transparent;
    border-radius: 50%;
    margin: 20px auto 30px;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.icon-warning {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: #ffb236;
    border-color: #ffb236;
}
td .form-check-sign {
    position: absolute;
    left: 0;
    top: 60%;
}

.table-parameters .form-control {
    background: #ffffff;
}