{% extends "base.html" %}
{% block title %}Alternatives{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Add alternatives for your decision problem</h5>
                <small>At least 2 alternatives are required</small>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {% if user.id == creator_id %}
                    <form method="post" action="" name="decision_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.management_form }}
                        {{ form.non_form_errors }}
                    {% endif %}
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>{{ form.0.name.label }} *</th>
                                    <th>{{ form.0.description.label }}</th>
                                    <th>{{ form.0.image.label }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for alternative in form %}
                                {{ alternative.id }}
                                <tr class="alternative">
                                {% if user.id == creator_id %}
                                    {% if state < 4 %}
                                    <td {% if alternative.name.errors %}class="has-danger"{% endif %}>{{ alternative.name }}</td>
                                    {% else %}
                                    {{ alternative.name.as_hidden }}
                                    <td>{{ alternative.name.value }}</td>
                                    {% endif %}
                                    <td {% if alternative.description.errors %}class="has-danger"{% endif %}>{{ alternative.description }}</td>
                                    <td {% if alternative.image.errors %}class="has-danger"{% endif %}>{{ alternative.image }}</td>
                                    {{ alternative.DELETE.as_hidden }}
                                {% else %}
                                    <td>{{ alternative.name.value }}</td>
                                    <td>{{ alternative.description.value }}</td>
                                    <td>{{ alternative.image.value }}</td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% if user.id == creator_id %}
                        <button type="submit" rel="tooltip" class="btn btn-info btn-round">
                            Save alternatives and Continue
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{% if user.id == creator_id and state < 4 %}
    <script type="text/javascript">
        $(function() {
            $('.alternative').formset({
                prefix: '{{ form.prefix }}',
                addText: '&nbsp;Add alternative',
                addCssClass: 'btn btn-info btn-round',
                formCssClass: 'alternative'
            });
        })
    </script>
{% endif %}
{% endblock %}