{% extends "base.html" %}
{% block title %}Criteria{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Add criteria for your decision problem</h5>
                <small>At least 2 criteria are required.
                    If every criterion is mathematically computable(price, speed, etc.) then check checkbox for each criterion.
                    Therefore, in next steps you can set mathematical values for specified alternatives.
                </small>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {% if user.id == creator_id %}
                    <form method="post" action="" name="decision_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.management_form }}
                        {{ form.non_form_errors }}
                    {% endif %}
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>{{ form.0.name.label }} *</th>
                                    <th>{{ form.0.description.label }}</th>
                                    {% if user.id == creator_id %}
                                    <th>Mathematically computable</th>
                                    {% endif %}
                                    <th>{{ form.0.image.label }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for criterium in form %}
                                {{ criterium.id }}
                                <tr class="criterion">
                                {% if user.id == creator_id %}
                                    {% if state < 4 %}
                                    <td {% if criterium.name.errors %}class="has-danger"{% endif %}>{{ criterium.name }}</td>
                                    {% else %}
                                    {{ criterium.name.as_hidden }}
                                    <td>{{ criterium.name.value }}</td>
                                    {% endif %}
                                    <td {% if criterium.description.errors %}class="has-danger"{% endif %}>{{ criterium.description }}</td>
                                    <td {% if criterium.is_computable.errors %}class="has-danger"{% endif %}>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                {{ criterium.is_computable }}
                                                <span class="form-check-sign"></span>
                                                {{ criterium.computed_value }}
                                            </label>
                                        </div>
                                    </td>
                                    <td {% if criterium.image.errors %}class="has-danger"{% endif %}>{{ criterium.image }}</td>
                                    {{ criterium.DELETE.as_hidden }}
                                {% else %}
                                    <td>{{ criterium.name.value }}</td>
                                    <td>{{ criterium.description.value }}</td>
                                    <td>{{ criterium.image.value }}</td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% if user.id == creator_id %}
                        <button type="submit" rel="tooltip" class="btn btn-info btn-round">
                            Save criteria and Continue
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{% if user.id == creator_id and state < 4 %}
    <script type="text/javascript">
    $(function() {
        $('.criterion').formset({
            prefix: '{{ form.prefix }}',
            addText: '&nbsp;Add criterion',
            addCssClass: 'btn btn-info btn-round',
            formCssClass: 'criterion'
        });
    })
    </script>
{% endif %}
{% endblock %}