{% extends "base.html" %}
{% block title %}Project: {{ object.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-chart card-stats card-raised">
            <div class="card-header text-center" data-background-color="orange" style="padding: 20px;">
                <h3 class="card-title">{{ object.name }}</h3>
            </div>
            <div class="card-body">
                <div class="row special-flex">
                    <div class="col-md-4">
                        <h5 class="title">Description</h5>
                        <p class="text-muted"><i class="now-ui-icons files_paper"></i>{{ object.description }}</p>
                        <h5 class="title">Created</h5>
                        <p class="text-muted"><i class="now-ui-icons ui-2_time-alarm"></i>{{ object.created }}</p>
                        <img class="img-custom" src="{{ object.image.url }}" alt="{{ object.image }}">
                    </div>
                    <div class="col-md-4">
                        <h5 class="title">Alternatives results</h5>
                        <div class="card-progress">
                            {% for alternative in results %}
                                <div class="progress-container">
                                    <span class="progress-badge" style="color:{{ alternative.2 }}">{{ alternative.0|safe }}</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ alternative.1 }}%;background-color:{{ alternative.2 }}">
                                            <span class="progress-value">{{ alternative.1 }}%</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-area">
                                <canvas id="chart-analysis-{{ object.id }}"></canvas>
                            </div>
                            <p class="text-center">Decision results</p>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-info">
                                    <i class="now-ui-icons users_single-02"></i>
                                </div>
                                <h3 class="info-title">{{ completed_users }}</h3>
                                <h6 class="stats-title">Completed Decision Users</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-success">
                                    <i class="now-ui-icons business_chart-pie-36"></i>
                                </div>
                                <h3 class="info-title">{{ best_alternative }}</h3>
                                <h6 class="stats-title">Best Alternative</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-info">
                                    <i class="now-ui-icons business_chart-bar-32"></i>
                                </div>
                                <h3 class="info-title">{{ criteria_count }}</h3>
                                <h6 class="stats-title">Total Criteria</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="statistics">
                            <div class="info">
                                <div class="icon icon-danger">
                                    <i class="now-ui-icons design_bullet-list-67"></i>
                                </div>
                                <h3 class="info-title">{{ alternatives_count }}</h3>
                                <h6 class="stats-title">Total Alternatives</h6>
                            </div>
                        </div>
                    </div>
                </div>
                {% if score %}
                <hr/>
                <div class="row special-flex">
                    <div class="col-md-12">
                        <div class="chart-wrapper">
                            <canvas id="chart-score" height="80"></canvas>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header text-center" data-background-color="orange" style="padding: 20px;">
                <h3 class="card-title">Criteria weight distribution</h3>
            </div>
            <div class="card-body">
                <div class="row special-flex">
                    <div class="col-md-8">
                        <div class="chart-wrapper">
                            <canvas id="criteria-score"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="chart-wrapper">
                            <div class="chart-area">
                                <canvas id="chart-analysis-criteria"></canvas>
                            </div>
                            <p class="text-center">Criteria weight distribution</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
	$(document).ready(function(){
        {% with analysisData=object.getAnalysisData %}
            demeto.initDashboardGraph({{ object.id }}, {% if analysisData %}{{ analysisData.0 }}, {{ analysisData.1|safe }}{% endif %});
            demeto.initDashboardGraph('criteria', {% if criteria_importance %}{{ criteria_importance.0 }}, {{ criteria_importance.1|safe }}{% endif %});
            demeto.initCriteriaGraph({% if alternatives_importance %}{{ alternatives_importance|safe }}{% endif %});
            demeto.initScoreboardGraph({% if score %}{{ score|safe }}{% endif %});
        {% endwith %}
	});
</script>
{% endblock %}