{% extends "base.html" %}
{% load staticfiles demeto_tags %}

{% block title %}Evaluation{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="evalSlider">
            <ul class="slides">
            {% evaluation_comparsion decision.pk user as dataEvaluation %}
            {% for data in dataEvaluation %}
                {% with isCriteria=data.0.is_criterion hasConsideration=data.0 voteValue=data.2 %}
                {% for combination in data.1 %}
                    <li class="voteItem {% if voteValue %}vote{% endif %}">
                        <div class="card">
                            <div class="card-header text-center">
                                {% if not hasConsideration %}
                                    <h5 class="card-title">Select which <b>criterion</b> is more important in terms of <b>final goal</b></h5>
                                {% else %}
                                    <h5 class="card-title">Select which <b>{% if isCriteria %}alternative{% else %}criterion{% endif %}</b> is better in terms of <b>{{ data.0.name }}</b></h5>
                                {% endif %}
                                <small></small>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-5 card-user" data-toggle="tooltip" data-placement="top" title="{{ combination.0.description }}">
                                        <h6 class="text-center">{{ combination.0.name }}</h6>
                                        <div class="avatar border-gray" style="background-image:url('{{ combination.0.image.url }}');"></div>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="text-center"><small> or </small></h6>
                                    </div>
                                    <div class="col-md-5 card-user" data-toggle="tooltip" data-placement="top" title="{{ combination.1.description }}">
                                        <h6 class="text-center">{{ combination.1.name }}</h6>
                                        <div class="avatar border-gray" style="background-image:url('{{ combination.1.image.url }}');"></div>
                                    </div>
                                </div>
                                <form class="evalForm" data-order data-decision-id="{{decision.pk}}" data-considered-id="{{data.0.pk}}" data-vote-left-id="{{ combination.0.pk }}" data-vote-right-id="{{ combination.1.pk }}">
                                    <input class="slide-arrow go-back" type="submit" value="&#xf104">
                                    <div class="row justify-content-md-center">
                                        {% for choice in choices %}
                                            <div class="col-md-1">
                                                <input type="radio" id="toVote_{{ combination.0.id }}_{{ combination.1.id }}_{{data.0.pk}}_{{ forloop.counter }}"
                                                       name="toVote_{{ combination.0.id }}_{{ combination.1.id }}_{{data.0.pk}}" value="{{ choice.0 }}" {% if voteValue == choice.0 %}checked{% endif %}>
                                                <label for="toVote_{{ combination.0.id }}_{{ combination.1.id }}_{{data.0.pk}}_{{ forloop.counter }}">
                                                    {{ choice.1 }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <input class="slide-arrow" type="submit" value="&#xf105">
                                </form>
                                <div class="row justify-content-center results"></div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {% endwith %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script>
	$(document).ready(function(){
	    $('.card-user').tooltip();
		$('.evalSlider').flexslider({
			animation: "slide",
			animationLoop: false,
			slideshow: false,
			directionNav: false,
	        start: function(){
	        	setTimeout(function(){
					$(window).trigger('resize');
					$('.voteItem').each(function(i, item){
					    if ($(item).hasClass('vote')) {
					        $(".flex-control-nav").children().eq(i).addClass("voted");
                        }
					});
					if (!completeProcess()) {
                        $('.evalSlider').flexslider(checkEmptyVotes());
                    }
				}, 100);
	        }
		});
		$(".evalForm .slide-arrow").click(function (e) {
		    e.preventDefault();
		    $(this).closest(".evalForm").submit();
            if ($(this).hasClass('go-back')) {
                $('.evalSlider').flexslider('prev');
            } else {
                $('.evalSlider').flexslider('next');
            }
        });
		$(".evalForm").each(function(index, value){
			$(this).attr("data-order", index);
		}).submit(function(e){
			e.preventDefault();
			var sliderNavCurrent = $(".flex-control-nav").find(".flex-active").parent();
			var value = $(this).find('input:checked').val();
			if (value) {
			    $.post("{% url 'eval-add' %}", {
				    csrfmiddlewaretoken: '{{ csrf_token }}',
					decision_id: $(this).data("decision-id"),
					vote_left_id: $(this).data("vote-left-id"),
					vote_right_id: $(this).data("vote-right-id"),
					considered_id: $(this).data("considered-id"),
					order: $(this).data("order"),
					value: $(this).find('input:checked').val()
				}, function(data){
					sliderNavCurrent.addClass("voted");
                    completeProcess();
				});
            }
		});
		function checkEmptyVotes() {
		    var position = 0;
		    $(".flex-control-nav li").each(function(i, item){
		        if (!$(this).hasClass('voted')) {
		            position = i;
		            return false;
                }
            });
            return position;
        }
        function completeProcess() {
		    if (!checkEmptyVotes()) {
                $.post("{% url 'eval-check' %}", {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    decision_id: $('.evalForm').data("decision-id"),
                    votes_count: $(".flex-control-nav li").length
                },function(data){
                    if (data["response"] === 'valid') {
                        $('.results').html('<a href="{% url 'decision' pk=decision.pk %}" class="btn btn-info btn-round">See the results !</a>');
                    } else {
                        $('.results').html();
                    }
                });
            } else {
		        return false;
            }
        }
	});
</script>
{% endblock %}