{% extends "base.html" %}
{% load demeto_tags %}
{% block title %}Parameters{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Parameter values</h5>
            </div>
            <div class="card-body">
            {% if user.id == creator_id %}
            <form method="post" action="" name="decision_form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.management_form }}
                {{ form.non_form_errors }}
                <input name="dim_y" type="hidden" value="{{ alternatives|length }}"/>
                <input name="dim_x" type="hidden" value="{{ criteria|length }}"/>
            {% endif %}
                <div class="table-responsive">
                    <table class="table table-striped table-parameters">
                        <thead class="text-primary">
                            <tr>
                                <th class="text-center">#</th>
                                {% for criterion in criteria %}
                                    <th>{{ criterion.name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% if matrix %}
                                {% for alternative, mat in alternatives|zip:matrix %}
                                    <tr>
                                        <th>{{ alternative.name }}</th>
                                        {% for criterion, value in criteria|zip:mat %}
                                            <td><input name="matrix_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" value={{ value }} class="form-control" type="number" required {% if user.id != creator_id %}disabled{% endif %}/></td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                {% for alternative in alternatives %}
                                    <tr>
                                        <th>{{ alternative.name }}</th>
                                        {% for criterion in criteria %}
                                            <td><input name="matrix_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" class="form-control" type="number" required/></td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                {% if user.id == creator_id %}
                    <button type="submit" rel="tooltip" class="btn btn-info btn-round">
                        Save parameters and Continue
                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}