{% extends "base.html" %}
{% block title %}Add project decision{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Add project decision</h5>
            </div>
            <div class="card-body">
                <form method="post" action="" name="decision_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.management_form }}
                    <div class="form-group{% if form.username.errors %} has-danger{% endif %}">
                        <label class="control-label">{{ form.name.label }} *</label>
                        <input class="form-control {% if form.name.errors %} form-control-danger{% endif %}"
                               id="{{ form.name.id_for_label }}" maxlength="200" name="{{ form.name.html_name }}"
                               {% if form.name.value %}value="{{ form.name.value }}"{% endif %} type="text" required/>
                        {% if form.name.errors %}<small class="error">{{ form.name.errors }}</small>{% endif %}
                    </div>
                    <div class="form-group{% if form.description.errors %} has-danger{% endif %}">
                        <label class="control-label">{{ form.description.label }} *</label>
                        <textarea class="form-control {% if form.description.errors %} form-control-danger{% endif %}"
                               id="{{ form.description.id_for_label }}" name="{{ form.description.html_name }}"
                                  cols="40" rows="4" type="textarea" required></textarea>
                        {% if form.description.errors %}<small class="error">{{ form.description.errors }}</small>{% endif %}
                    </div>
                    <div class="form-group{% if form.image.errors %} has-danger{% endif %}">
                        <label class="control-label">{{ form.image.label }}</label>
                        {{ form.image }}
                        {% if form.image.errors %}<small class="error">{{ form.image.errors }}</small>{% endif %}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add new project"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}