{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Add users for your decision problem</h5>
                <small>If you want other users to consider your decision problem</small>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form method="post" action="" name="decision_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.management_form }}
                        {{ form.non_form_errors }}
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>{{ form.0.user.label }}</th>
                                    <th>Skill</th>
                                    <th>Name</th>
                                    <th>{{ form.0.state.label }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user_form in form %}
                                {{ user_form.id }}
                                {% if user_form.instance.user_id %}
                                <tr class="user {% if user_form.instance.user_id == creator_id or user.id != creator_id %}non-deletable{% endif %}">
                                    <td>{{ user_form.instance.user }}</td>
                                    <td>{{ user_form.instance.get_weight_display }}</td>
                                    <td>{{ user_form.instance.user.first_name }} {{ user_form.instance.user.last_name }}</td>
                                    <td>{{ user_form.instance.get_state_display }}</td>
                                    {{ user_form.user.as_hidden }}
                                    {{ user_form.weight.as_hidden }}
                                    {{ user_form.state.as_hidden }}
                                    {{ user_form.DELETE.as_hidden }}
                                </tr>
                                {% else %}
                                <tr class="user">
                                    <td {% if user_form.user.errors %}class="has-danger"{% endif %}>
                                        <select class="form-control" id="{{ user_form.user.id_for_label }}" name="{{ user_form.user.html_name }}">
                                            {% for x,y in user_form.fields.user.choices %}
                                                <option value="{{ x }}">{{ y }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td {% if user_form.weight.errors %}class="has-danger"{% endif %}>
                                        <select class="form-control" id="{{ user_form.weight.id_for_label }}" name="{{ user_form.weight.html_name }}">
                                            {% for x,y in user_form.fields.weight.choices %}
                                                <option value="{{ x }}">{{ y }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <button type="submit" rel="tooltip" class="btn btn-info btn-round">
                            Save and Continue for evaluation
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block popup %}
    <div class="popup" style="display: none;">
        <div class="dialog">
            <div class="popup-icon icon-warning" style="display: block;">!</div>
            <h2>Are you sure?</h2>
            <p>You will not be able to recover decision user!</p>
            <div>
                <button type="button" class="btn btn-success">Yes, delete it!</button>
                <button type="button" class="btn btn-danger" style="display: inline-block;">No, keep it</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(function() {
        $('.user').formset({
            prefix: '{{ form.prefix }}',
            addText: '&nbsp;Add user',
            addCssClass: 'btn btn-info btn-round',
            formCssClass: 'user'
        });
        $('.non-deletable .delete-row').remove();
    })
</script>
{% endblock %}