{% load staticfiles demeto_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
    	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block title %}{% endblock %} | DeMeTo</title>
		{% block head %}{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/ui-theme.css' %}" />
        <link rel="stylesheet" href="{% static 'css/demeto.css' %}" />
	</head>
	<body>
        <div class="wrapper">
            <div class="sidebar" data-color="orange">
                <!--  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow" -->
                <div class="logo">
                    <a href="{% url 'dashboard' %}" class="simple-text logo-normal">
                        DeMeTo
                    </a>
                </div>
                <div class="sidebar-wrapper">
                    <ul class="nav">
                        {% if user.is_authenticated %}
                            {% block sidebar %}
                                {% with view.kwargs.pk as dec_id %}
                                {% if dec_id and request.resolver_match.url_name != 'profile' %}
                                    <li class="{% url_active 'alter-decision' id=dec_id state=1 %}">
                                        <a class="{% url_state id=dec_id state=1 %}" href="{% url 'alter-decision' pk=dec_id %}">
                                            <i class="now-ui-icons media-2_sound-wave"></i>
                                            <p>Alternatives</p>
                                        </a>
                                    </li>
                                    <li class="{% url_active 'crit-decision' id=dec_id state=2 %}">
                                        <a class="{% url_state id=dec_id state=2 %}" href="{% url 'crit-decision' pk=dec_id %}">
                                            <i class="now-ui-icons media-2_sound-wave"></i>
                                            <p>Criteria</p>
                                        </a>
                                    </li>
                                    {% enable_parameters id=dec_id as parameters %}
                                    {% if parameters %}
                                        <li class="{% url_active 'param-decision' id=dec_id state=2 %}">
                                            <a class="{% url_state id=dec_id state=2 %}" href="{% url 'param-decision' pk=dec_id %}">
                                                <i class="now-ui-icons media-2_sound-wave"></i>
                                                <p>Parameters</p>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="{% url_active 'users-decision' id=dec_id state=3 %}">
                                        <a class="{% url_state id=dec_id state=3 %}" href="{% url 'users-decision' pk=dec_id %}">
                                            <i class="now-ui-icons media-2_sound-wave"></i>
                                            <p>Users</p>
                                        </a>
                                    </li>
                                    <li class="{% url_active 'eval-decision' id=dec_id state=4 %}">
                                        <a class="{% url_state id=dec_id state=4 %}" href="{% url 'eval-decision' pk=dec_id %}">
                                            <i class="now-ui-icons media-2_sound-wave"></i>
                                            <p>Evaluation</p>
                                        </a>
                                    </li>
                                    <li class="{% url_active 'decision' id=dec_id state=5 %}">
                                        <a class="{% url_state id=dec_id state=5 %}" href="{% url 'decision' pk=dec_id %}">
                                            <i class="now-ui-icons media-2_sound-wave"></i>
                                            <p>Analysis</p>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="{% url_active 'add-decision' %}">
                                        <a href="{% url 'add-decision' %}">
                                            <i class="now-ui-icons ui-1_simple-add"></i>
                                            <p>Add decision project</p>
                                        </a>
                                    </li>
                                    <li class="{% url_active 'dashboard' %}">
                                        <a href="{% url 'dashboard' %}">
                                            <i class="now-ui-icons design_app"></i>
                                            <p>My projects</p>
                                        </a>
                                    </li>
                                {% endif %}
                                {% endwith %}
                            {% endblock %}
                        {% else %}
                            <li class="{% url_active 'login' %}">
                                <a href="{% url 'login' %}">
                                    <i class="fa fa-unlock-alt"></i>
                                    <p>Login</p>
                                </a>
                            </li>
                            <li class="{% url_active 'register' %}">
                                <a href="{% url 'register' %}">
                                    <i class="fa fa-user-plus"></i>
                                    <p>Register</p>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <div class="navbar-toggle">
                                <button type="button" class="navbar-toggler">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </button>
                            </div>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                            <span class="navbar-toggler-bar navbar-kebab"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navigation">
                            <ul class="navbar-nav">
                                {% if user.is_authenticated %}
                                    <li class="nav-item {% url_active 'add-decision' %}">
                                        <a class="nav-link" href="{% url 'add-decision' %}">
                                            <i class="now-ui-icons ui-1_simple-add"></i>
                                            <p>
                                                <span>Add decision project</span>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item {% url_active 'dashboard' %}">
                                        <a class="nav-link" href="{% url 'dashboard' %}">
                                            <i class="now-ui-icons design_app"></i>
                                            <p>
                                                <span>My projects</span>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item {% url_active 'profile' id=user.id %}">
                                        <a class="nav-link" href="{% url 'profile' pk=user.id %}">
                                            <i class="now-ui-icons users_single-02"></i>
                                            <p>
                                                <span class="d-lg-none d-md-block">Account</span>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout' %}">
                                            <i class="now-ui-icons media-1_button-power"></i>
                                            <p>
                                                <span class="d-lg-none d-md-block">Log out</span>
                                            </p>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item {% url_active 'login' %}">
                                        <a class="nav-link" href="{% url 'login' %}">
                                            <i class="fa fa-unlock-alt"></i>
                                            <p>
                                                <span class="d-lg-none d-md-block">Login</span>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="nav-item {% url_active 'register' %}">
                                        <a class="nav-link" href="{% url 'register' %}">
                                            <i class="fa fa-user-plus"></i>
                                            <p>
                                                <span class="d-lg-none d-md-block">Register</span>
                                            </p>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
                <div class="panel-header panel-header-sm">
                </div>
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% block popup %}{% endblock %}
		<script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.formset.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-notify.js' %}"></script>
    	<script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>
    	<script src="{% static 'js/chartjs.min.js' %}"></script>
    	<script src="{% static 'js/demeto.js' %}"></script>
    	{% block javascript %}{% endblock %}
	</body> 
</html> 