{% extends "base.html" %}
{% block title %}My projects{% endblock %}
{% block content %}
<div class="row">
    {% for project in projects %}
        <div class="col-md-4">
            <a class="dashboard-card" href="{% url 'decision' pk=project.id %}">
                <div class="card card-chart">
                    <div class="card-header text-center">
                        <h5 class="title">{{ project.name }}</h5>
                        <p class="text-muted">{{ project.description }}</p>
                    </div>
                    <div class="card-body">
                        <div style="background:url('{{ project.image.url }}');"></div>
                        <div class="chart-area">
                            <canvas id="chart-analysis-{{ project.id }}"></canvas>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="now-ui-icons ui-2_time-alarm"></i> {{ project.created }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
{% block javascript %}
<script>
	$(document).ready(function(){
	    {% for project in projects %}
            {% with analysisData=project.getAnalysisData %}
	            demeto.initDashboardGraph({{ project.id }}, {% if analysisData %}{{ analysisData.0 }}, {{ analysisData.1|safe }}{% endif %});
            {% endwith %}
	    {% endfor %}
	});
</script>
{% endblock %}