{% extends "base.html" %}
{% block title %}Profile {% endblock %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-10">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="title">Edit Profile</h5>
            </div>
            <div class="card-body">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="avatar border-gray" style="background-image:url('{{ object.image.url }}');margin: 0;margin-bottom: 15px;float: left; "></div>
                            <div class="form-group{% if form.image.errors %} has-danger{% endif %}" style="left: 20px;">
                                {{ form.image }}
                                {% if form.image.errors %}<small class="error">{{ form.image.errors }}</small>{% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"
                                       placeholder="Username" value="{{ object.username }}" disabled required>
                                {{ form.username.as_hidden }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group{% if form.email.errors %} has-danger{% endif %}">
                                <label class="control-label">{{ form.email.label }}</label>
                                <input class="form-control {% if form.email.errors %} form-control-danger{% endif %}"
                                       id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" placeholder="Email"
                                       {% if form.email.value %}value="{{ form.email.value }}"{% endif %} type="email"/>
                                {% if form.email.errors %}<small class="error">{{ form.email.errors }}</small>{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group{% if form.first_name.errors %} has-danger{% endif %}">
                                <label class="control-label">{{ form.first_name.label }} *</label>
                                <input class="form-control {% if form.first_name.errors %} form-control-danger{% endif %}"
                                       id="{{ form.first_name.id_for_label }}" maxlength="30" name="{{ form.first_name.html_name }}"
                                       {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %} type="text" required/>
                                {% if form.first_name.errors %}<small class="error">{{ form.first_name.errors }}</small>{% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group{% if form.last_name.errors %} has-danger{% endif %}">
                                <label class="control-label">{{ form.last_name.label }} *</label>
                                <input class="form-control {% if form.last_name.errors %} form-control-danger{% endif %}"
                                       id="{{ form.last_name.id_for_label }}" maxlength="150" name="{{ form.last_name.html_name }}"
                                       {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %} type="text" required/>
                                {% if form.last_name.errors %}<small class="error">{{ form.last_name.errors }}</small>{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr/>
                        <div class="col-md-12">
                            <h5>Change password</h5>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group{% if form.password0.errors %} has-danger{% endif %}">
                                <label class="control-label">{{ form.password0.label }}</label>
                                <input class="form-control {% if form.password0.errors %} form-control-danger{% endif %}"
                                       id="{{ form.password0.id_for_label }}" name="{{ form.password0.html_name }}"
                                       type="password"/>
                                {% if form.password0.errors %}<small class="error">{{ form.password0.errors }}</small>{% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group{% if form.password1.errors %} has-danger{% endif %}">
                                <label class="control-label">{{ form.password1.label }}</label>
                                <input class="form-control {% if form.password1.errors %} form-control-danger{% endif %}"
                                       id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}"
                                       type="password"/>
                                {% if form.password1.errors %}<small class="error">{{ form.password1.errors }}</small>{% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group{% if form.password2.errors %} has-danger{% endif %}">
                                <label class="control-label">{{ form.password2.label }}</label>
                                <input class="form-control {% if form.password2.errors %} form-control-danger{% endif %}"
                                       id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}"
                                       type="password"/>
                                {% if form.password2.errors %}<small class="error">{{ form.password2.errors }}</small>{% endif %}
                            </div>
                        </div>
                    </div>
                    {% if message %}
                        <div class="alert alert-success">
                            <span><b>Successfully changed.</b></span>
                        </div>
                    {% endif %}
                    <input type="submit" class="btn btn-primary" value="Update profile">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}